/* Formatação da Página Global */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px black solid;
}

.logo{
    width: 80px;
    cursor: pointer;
    margin: 30px 0;
}

.menu{
    width: 25px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
}

/* Retirar os pontos da lista */
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

/* Formatação dos links: cor, tamanho específico */
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

/* Formatação dos links quando passa o rato em cima */
nav ul li a:hover{
    color: #03adfb;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

/* Formatação do sitio onde o texto vai aparecer */
.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

/* Linha vertical que fica atrás de todo o texto */
.col-1:after{
    content: "";
    width: 10px;
    height: 57%;
    background: linear-gradient(#0e0e0e, #474747);
    position: absolute;
    left: -40px;
    top: 8px;
}

.col-1 h2{
    font-size: 54px;
}

.col-1 h3{
    font-size: 30px;
    color: #707070;
    margin: 20px 0 10px;
}

.col-1 p{
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
    font-style: oblique;
}

/* Formatação do botão e animação */
button{
    width: 140px;
    border: 0;
    margin: 30px 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #0e0e0e, #474747);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}

button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Formatação da seta que aparece após passar por cima com o rato */
button img{
    width: 15px;
    display: none;
}

button:hover img{
    display: block;

}

.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#0e0e0e, #474747);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(200px);
}

.social-links img{
    height: 19px;
    margin: 40px;
    cursor: pointer;
}

.social-links{
    text-align: center;
}

/* Formatação para Telas Móveis (Responsividade)*/
@media only screen and (max-width:700px){
    nav ul{
        width: 100%;
        background: linear-gradient(#0e0e0e, #474747);
        position: absolute;
        top: 110px;
        right: 0;
        z-index: 2;
    }
    
    nav ul li{
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    nav ul li a{
        color: #fff;
    }

    .menu{
        display: block;
    }

    #menulist{
        overflow: hidden;
        transition: 0.5s;
    }

    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }

    .col-2 .sidemen{
        width: 110%;
    }

    .color-box{
        transform: translateX(75px);
    }

    .col-1{
        flex-basis: 100%;
    }

    .col-1 h2{
        font-size: 35px;
    }

    .col-1 h3{
        font-size: 25px;
    }

}